body{
    background-color: gainsboro;    
}
header{
    font-family: 'Courier New';
    padding: 10px 0px;
}
.navbar{
    position: sticky;
}
h1 {
    text-align: center;
    font-family: 'Lucida Sans';
}
html{
    scroll-behavior: smooth;
}
.card{
    background-color: #dfdfdf;
    /*border: 1px solid black;*/
}
footer {
    background-color: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Lucida Sans';
    margin-top: 10px;
}